<div style="max-width: 800px; margin: 0 auto; padding: 20px;  border-radius: 10px; background-color: #ffffff;">
    <h2 style="text-align: center;">Agregar Venta</h2>
    <div style="width: 70%; height: 2px; background-color: #5E94FF; margin:0 auto 20px auto;"></div>
    <form [formGroup]="form" style="display: flex; flex-wrap: wrap; gap: 16px;">
      <div style="flex: 1 1 48%;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Nombre cuenta</mat-label>
          <input matInput formControlName="nombreCuenta" >
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cuenta BS</mat-label>
          <input matInput formControlName="cuentaBs" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Tipo de pago</mat-label>
          <mat-select formControlName="tipoPago">
            <mat-option value="transferencia">Transferencia</mat-option>
            <mat-option value="efectivo">Efectivo</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Conversión automática</mat-label>
          <input matInput formControlName="conversionAutomatica">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Comisión</mat-label>
          <input matInput formControlName="comision">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="celular">
        </mat-form-field>
      </div>
      <div style="flex: 1 1 48%;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cliente</mat-label>
          <input matInput formControlName="cliente" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cuenta pesos</mat-label>
          <input matInput formControlName="cuentaPesos">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cantidad bolívares</mat-label>
          <input matInput formControlName="cantidadBolivares">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Tasa</mat-label>
          <input matInput formControlName="tasa">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cédula</mat-label>
          <input matInput formControlName="cedula">
        </mat-form-field>
      </div>
      <div style="flex: 1 1 100%; display: flex; justify-content: space-around;">
        <button mat-raised-button color="primary" (click)="confirmarVenta()" >Confirmar Venta</button>
        <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
  
  <div style="max-width: 800px; margin: 0 auto; padding: 20px;  border-radius: 10px; background-color: #ffffff; margin-top: 10rem;">
    <h2 style="text-align: center;">Agregar Compra</h2>
    <div style="width: 70%; height: 2px; background-color: #5E94FF; margin:0 auto 20px auto;"></div>
    <form [formGroup]="form" style="display: flex; flex-wrap: wrap; gap: 16px;">
      <div style="flex: 1 1 48%;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Nombre cuenta</mat-label>
          <input matInput formControlName="nombreCuenta" >
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cuenta BS</mat-label>
          <input matInput formControlName="cuentaBs" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Tipo de pago</mat-label>
          <mat-select formControlName="tipoPago">
            <mat-option value="transferencia">Transferencia</mat-option>
            <mat-option value="efectivo">Efectivo</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Conversión automática</mat-label>
          <input matInput formControlName="conversionAutomatica">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Comisión</mat-label>
          <input matInput formControlName="comision">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="celular">
        </mat-form-field>
      </div>
      <div style="flex: 1 1 48%;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cliente</mat-label>
          <input matInput formControlName="cliente" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cuenta pesos</mat-label>
          <input matInput formControlName="cuentaPesos">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cantidad bolívares</mat-label>
          <input matInput formControlName="cantidadBolivares">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Tasa</mat-label>
          <input matInput formControlName="tasa">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Cédula</mat-label>
          <input matInput formControlName="cedula">
        </mat-form-field>
      </div>
      <div style="flex: 1 1 100%; display: flex; justify-content: space-around;">
        <button mat-raised-button color="primary" (click)="confirmarVenta()" >Confirmar Venta</button>
        <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>