/* venta.component.css */
.mat-form-field {
    width: 100%;
  }
  
  button {
    width: 45%;
  }
  .decorative-line {
    width: 50%;
    height: 2px;
    background-color: #e20d0d;
    margin-bottom: 20px;
  }

 
  /* Sobrescribe el estilo de fondo para mat-form-field con apariencia "fill" */
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white; /* Cambia esto al color que prefieras */
  }
  
  .mat-form-field-appearance-fill .mat-form-field-outline {
    color: #5E94FF; /* Puedes ajustar el color del borde si lo deseas */
  }
  