.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.compras {
  justify-self: end;
}

.ventas {
  justify-self: start;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-dark {
  background-color: #333;
  color: white;
}

.btn-light {
  background-color: #f0f0f0;
  color: #333;
}
