<div class="table-container centered-table" *ngIf="!isMobile">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
    <!-- Banco Column -->
    <ng-container matColumnDef="banco">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Banco </th>
      <td mat-cell *matCellDef="let element" data-title="Banco">
        <span>{{element.bancoDestino}}</span>
        <button mat-icon-button class="copy-button" (click)="copyToClipboard(element.bancoDestino, element.id, 'banco')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id, 'banco')}">content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Cédula Column -->
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cédula </th>
      <td mat-cell *matCellDef="let element" data-title="Cédula">
        <span>{{element.cedulaDestino}}</span>
        <button mat-icon-button class="copy-button" (click)="copyToClipboard(element.cedulaDestino, element.id, 'cedula')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id, 'cedula')}">content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Cuenta Column -->
    <ng-container matColumnDef="cuenta">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cuenta </th>
      <td mat-cell *matCellDef="let element" data-title="Cuenta">
        <span>{{element.numeroCuentaDestinatario}}</span>
        <button mat-icon-button class="copy-button" (click)="copyToClipboard(element.numeroCuentaDestinatario, element.id, 'cuenta')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id, 'cuenta')}">content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Nombre </th>
      <td mat-cell *matCellDef="let element" data-title="Nombre">
        <span>{{element.nombreCuentaDestinatario}}</span>
        <button mat-icon-button class="copy-button" (click)="copyToClipboard(element.nombreCuentaDestinatario, element.id, 'nombre')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id, 'nombre')}">content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Bolívares Column -->
    <ng-container matColumnDef="bolivares">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Bolívares </th>
      <td mat-cell *matCellDef="let element" data-title="Bolívares">
        <span>{{element.bolivaresEnviar}}</span>
        <button mat-icon-button class="copy-button" (click)="copyToClipboard(element.bolivaresEnviar, element.id, 'bolivares')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id, 'bolivares')}">content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Cuenta Usada Column -->
    <ng-container matColumnDef="cuentaUsada">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cuenta Usada </th>
      <td mat-cell *matCellDef="let element" data-title="Cuenta Usada">
        <span>{{element.nombreCuentaBs}}</span>
        <button mat-icon-button class="copy-button" (click)="copyToClipboard(element.nombreCuentaBs, element.id, 'cuentaUsada')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id, 'cuentaUsada')}">content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="balance-button" (click)="openBancosDialog(element)">
          <mat-icon>account_balance</mat-icon>
        </button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="check-button" (click)="openConfirmDialog(element)">
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Cards para vista móvil -->
<div class="cards-container" *ngIf="isMobile">
  <mat-card *ngFor="let element of dataSource" [ngClass]="{'border-red': !shouldRemoveBorder(element)}">
    <mat-card-content>
      <div class="card-content-row">
        <p><strong>Banco destino:</strong> {{element.banco}}</p>
      </div>
      <div class="card-content-row">
        <p><strong>Nombre destinatario:</strong> {{element.nombreCuentaDestinatario}}</p>
        <button mat-icon-button class="copy-button-card" (click)="copyToClipboard(element.nombreCuentaDestinatario, element.id!, 'nombre')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id!, 'nombre')}">content_copy</mat-icon>
        </button>
      </div>
      <div class="card-content-row">
        <p><strong>Cédula destino:</strong> {{element.cedula}}</p>
        <button mat-icon-button class="copy-button-card" (click)="copyToClipboard(element.cedula.toString(), element.id!, 'cedula')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id!, 'cedula')}">content_copy</mat-icon>
        </button>
      </div>
      <div class="card-content-row">
        <p><strong>Cuenta destinatario:</strong> {{element.numeroCuenta}}</p>
        <button mat-icon-button class="copy-button-card" (click)="copyToClipboard(element.numeroCuenta.toString(), element.id!, 'cuenta')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id!, 'cuenta')}">content_copy</mat-icon>
        </button>
      </div>

      <div class="card-content-row">
        <p><strong>Bolívares:</strong> {{element.bolivares}}</p>
        <button mat-icon-button class="copy-button-card" (click)="copyToClipboard(element.bolivares.toString(), element.id!, 'bolivares')">
          <mat-icon [ngClass]="{'copied': isCopied(element.id!, 'bolivares')}">content_copy</mat-icon>
        </button>
      </div>
      <div class="card-content-row">
        <p><strong>Cuenta usada:</strong> {{element.bancoId}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="balance-button" (click)="openBancosDialog(element)">
        <mat-icon>account_balance</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="check-button" (click)="openConfirmDialog(element)">
        <mat-icon>check</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

