<h2 mat-dialog-title>Pegar Información</h2>
<mat-dialog-content class="full-width">
  <mat-form-field class="full-width">
    <mat-label>Pegue toda la información aquí:</mat-label>
    <textarea
      matInput
      [(ngModel)]="pastedData"
      (paste)="onPaste($event)"
      rows="3"
      class="full-height">
    </textarea>
  </mat-form-field>

  <div *ngIf="isLoading">
    <p>Procesando la imagen, por favor espere...</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onSelectFile()">Seleccionar Imagen</button>
  <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
  <button mat-button (click)="processData()" cdkFocusInitial >Enviar</button>
</mat-dialog-actions>
