<h2 class="title">Seguimiento de Caja</h2>

<div class="filter-container">
  <label for="mesSeleccionado" class="filter-label">Seleccionar Mes:</label>
  <input type="month" id="mesSeleccionado" [(ngModel)]="mesSeleccionado" (change)="onMesSeleccionado($event)" class="filter-input"/>
</div>

<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Pesos</th>
        <th>Bolivares</th>
        <th>Proveedores</th> <!-- Se actualizó el nombre de la columna -->
        <th>Utilidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of seguimientoCaja">
        <td>{{ element.fecha | date:'dd/MM/yyyy' }}</td>
        <td>${{ element.netoColombiano }}</td>
        <td>${{ element.netoVenezolano }}</td>
        <td>${{ element.creditosProveedores  }}</td> <!-- Mostrar créditos a proveedores -->
        <td>${{ element.utilidadDia  }}</td>
      </tr>
    </tbody>
  </table>
</div>
