<h2 class="title">Seguimiento de Caja</h2>

<div class="filter-container">
  <label for="mesSeleccionado" class="filter-label">Seleccionar Mes:</label>
  <input type="month" id="mesSeleccionado" [(ngModel)]="mesSeleccionado" (change)="onMesSeleccionado($event)" class="filter-input"/>
</div>

<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Pesos</th>
        <th>Bolivares</th>
        <th>Clientes</th> <!-- Nueva columna de clientes -->
        <th>Utilidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of seguimientoCaja">
        <td>{{ element.fecha }}</td>
        <td>${{ element.colombianas | number:'1.2-2' }}</td>
        <td>${{ element.venezolanas | number:'1.2-2' }}</td>
        <td>${{ element.clientes | number:'1.2-2' }}</td> <!-- Mostrar saldo actual de los clientes -->
        <td>${{ element.utilidad | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>
