<div class="container">
  <div class="right-align espac-h2">
    <label class="admin">ADMINISTRADOR</label>
  </div>
  <div></div>
  <div class="right-align">
    <h2 class="desc">Gastos</h2>
  </div>
  <div class="left-align">
    <button mat-flat-button class="btn btn-descripcion" (click)="nuevoGasto() ">Nuevo Gasto</button>
  </div>
</div>

<div class="grid-container">
  <mat-card *ngFor="let gasto of dataSource" class="example-card" appearance="outlined">
    <mat-card-content>
      <div class="card-grid">
        <span class="material-symbols-outlined home-icon">apartment</span>
        <div class="card-content">
          <div class="card-title">{{ gasto.nombre }}</div>
          <div class="card-subtitle">Saldo: {{ gasto.saldo | currency }}</div>
          <div class="card-subtitle">Última actualización: {{ gasto.ultimaActualizacion | date:'short' }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noDataTemplate>
  <p>No hay gastos disponibles.</p>
</ng-template>
