<div class="container">
  <div class="right-align espac-h2">
    <label class="admin">ADMINISTRADOR</label>
  </div>
  <div></div>
  <div class="right-align">
    <h2 class="desc">Gastos</h2>
  </div>
  <div class="left-align">
    <button mat-flat-button class="btn btn-descripcion">Nuevo Gasto</button>
  </div>
</div>

<div class="grid-container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-content>
      <div class="card-grid">
        <span class="material-symbols-outlined home-icon">apartment</span>
        <div class="card-content">
          <div class="card-title">Gasto</div>
          <div class="card-subtitle">XXXX</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-content>
      <div class="card-grid">
        <span class="material-symbols-outlined home-icon">apartment</span>
        <div class="card-content">
          <div class="card-title">Gasto</div>
          <div class="card-subtitle">XXXX</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- More mat-cards can be added here -->
</div>
