<div class="grid-container">
  <div class="agregar-compra">
    <button mat-flat-button class="btn btn-agregar" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="filtro">
    <button mat-raised-button class="btn-filtro">Filtro</button>
  </div>
</div>

<!-- Table view for desktop and mobile -->
<div class="table-container centered-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
    <!-- Proveedor Column -->
    <ng-container matColumnDef="proveedorId">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Proveedor </th>
      <td mat-cell *matCellDef="let element" data-title="Proveedor"> {{element.proveedor}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fechaCompra">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Fecha </th>
      <td mat-cell *matCellDef="let element" data-title="Fecha"> {{element.fechaCompra | date:'short'}} </td>
    </ng-container>

    <!-- Referencia Column -->
    <ng-container matColumnDef="referencia">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Referencia </th>
      <td mat-cell *matCellDef="let element" data-title="Referencia"> {{element.referencia}} </td>
    </ng-container>

    <!-- Monto Bs Column -->
    <ng-container matColumnDef="montoBs">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Monto Bs </th>
      <td mat-cell *matCellDef="let element" data-title="Monto Bs"> {{element.montoBs}} </td>
    </ng-container>

    <!-- Precio Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Precio </th>
      <td mat-cell *matCellDef="let element" data-title="Precio"> {{element.precio | number: '1.2-2'}} </td>
    </ng-container>

    <!-- Tasa Column -->
    <ng-container matColumnDef="tasaCompra">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Tasa </th>
      <td mat-cell *matCellDef="let element" data-title="Tasa"> {{element.tasaCompra}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Acciones </th>
      <td mat-cell *matCellDef="let element" class="centered-cell" data-title="Acciones">
        <mat-icon class="icon" (click)="openActualizarCompraDialog(element.id)">create</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Añade un (click) en el <tr mat-row> para abrir los detalles al hacer clic en cualquier parte de la fila -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetallesDialog(row.id)"></tr>
  </table>
</div>
