<div class="modal-overlay">
  <div class="modal-content">
    <p class="titulo">Realizar transferencia</p>
    <div class="separator"></div>
    <div class="form-group">
      <label for="cuenta">Seleccione la cuenta bancaria para realizar la transferencia</label><br>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedCuenta" placeholder="Seleccione una cuenta">
          <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-group">
      <button class="btn-confirmar" (click)="onConfirm()">Aceptar</button>
      <button class="btn-cancelar" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</div>
