/* Estilo card */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dividir en 3 columnas */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar las tarjetas en el contenedor */
  padding: 10px; /* Añadido padding para mayor espacio alrededor */
}

.no-botones .container {
  grid-template-rows: auto auto auto; /* Ajusta las filas cuando los botones no se muestran */
}

.example-card {
  margin-bottom: 10px; /* Ajustado el margen inferior */
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.grid-item {
  padding: 4px; /* Reducido el padding dentro de las grid-items */
}

.grid-item-1-1 {
  grid-column: 1;
  grid-row: 1;
  margin-top: -0.5rem;
}

.grid-item-1-2 {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin-top: -0.5rem;
}

.grid-item-2-1 {
  grid-column: 1;
  grid-row: 2;
  font-size: 1.3rem; /* Ajustado el tamaño de la fuente */
  font-weight: bold;
  margin-bottom: -0.8rem;
}

.grid-item-2-2 {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

.grid-item-3-1 {
  grid-column: 1;
  grid-row: 3;
  font-size: 1.5rem; /* Ajustado el tamaño de la fuente */
}

.grid-item-4-1 {
  grid-column: 1;
  grid-row: 4;
  margin-bottom: -0.8rem;
}

.grid-item-4-2 {
  grid-column: 2;
  grid-row: 4;
  text-align: right;
  margin-bottom: -0.8rem;
}

.settings-icon {
  vertical-align: middle;
}

.contentDavidPlata {
  background-color: #FF6D6D;
}

.contentAmarillo {
  background-color: #FFE65D;
}

mat-card-content {
  padding: 8px; /* Ajustado el padding dentro del contenido del card */
  border-radius: 0.5rem;
}

mat-divider {
  background-color: rgba(255, 255, 255, 0.2); /* Color del divider ajustado para mejor visibilidad */
  margin: 8px 0; /* Ajustado el margen de los dividers */
}

mat-card {
  border-radius: 0.5rem;
  cursor: pointer;
}
