<div class="container">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <span style="display: block; font-size: 0.75rem; color: #8BC94D;">Efectivo:</span>
          <span>{{ cajaLabel }}</span>
        </div>
      </ng-template>
      <app-caja></app-caja>
    </mat-tab>

    <mat-tab label="Cuentas">
      <app-listar-cuentas-colombianas></app-listar-cuentas-colombianas>
    </mat-tab>
    <mat-tab label="Movimientos">
    <app-listar-movimientos-colombianas></app-listar-movimientos-colombianas>
    </mat-tab>
  </mat-tab-group>
</div>
