
<div [ngClass]="{'card-container': true, }">
  <mat-card *ngFor="let cuenta of cuentasBancarias" class="example-card" appearance="outlined">
    <mat-card-content class="contentDavidPlata">
      <div class="card-grid">
        <div class="grid-item grid-item-1-1">
          <p>{{ cuenta.nombreCuenta }}</p>
        </div>
        <div class="grid-item grid-item-1-2">
          <p>Cupos: {{ cuenta.cupos }}</p>
        </div>
        <div class="grid-item grid-item-2-1">
          <p>Saldo Actual</p>
        </div>
        <div class="grid-item grid-item-3-1">
          <p>$ {{ cuenta.monto | number:'1.2-2' }}</p>
        </div>
        <div class="grid-item grid-item-4-1">
          <p>{{ cuenta.nombreBanco }}</p>
        </div>
        <div class="grid-item grid-item-4-2">
          <mat-icon>insert_chart_outlined</mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
