<p mat-dialog-title>Agregar una venta</p>
<mat-dialog-content>
  <form action="" method="post">
    <p class="select-usdt">
      <label >Cuenta USDT</label><br>
      <select>
        <option></option>
        <option>Elkin el sucio</option>
        <option>Milton follón</option>
        <option>Manolito un hueco</option>
        <option>Cuenta 4</option>
        <option>Jose destuye anos</option>
      </select>
    </p>
    <p class="select-usdt">
      <label >Cuenta Pesos</label><br>
      <select>
        <option></option>
        <option>Cuenta de porno</option>
        <option>Cuenta de trabas</option>
        <option>Pollon frisbi</option>
        <option>Cuenta 4</option>
        <option>El culo divertido</option>
      </select>
    </p>
    <p>
      <label>Tasa</label><br>
      <input class="input-tasa" type="number" name="last_name">
    </p>
    <div class="input-container">
      <label>Cantidad USDT</label>
      <div class="input-icon-container">
        <input type="number" name="email" required>
        <mat-icon>compare_arrows</mat-icon>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    Confirmar
  </button>
  <button mat-button mat-dialog-close >
    Cancelar
  </button>
</mat-dialog-actions>


