<div *ngIf="!mostrandoCreditos; else creditosTemplate">
  <!-- Vista de Proveedores -->
  <h2>Proveedores y Deudas</h2>

  <div *ngIf="errorMessage()" class="error-message">
    {{ errorMessage() }}
  </div>

  <div class="proveedores-grid">
    <mat-card *ngFor="let proveedor of proveedores()" class="proveedor-card" (click)="mostrarCreditosDeProveedor(proveedor)">
      <mat-card-header>
        <mat-card-title>{{ proveedor.nombre }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Total Deuda:</strong> {{ proveedor.deuda | currency }}</p>
        <p><strong>Abonos:</strong> {{ proveedor.abono | currency }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Ver Detalles</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Vista de Créditos -->
<ng-template #creditosTemplate>
  <button mat-button (click)="regresarAListaDeProveedores()" class="back-button">
    <mat-icon>arrow_back</mat-icon> {{ nombreProveedor }}
  </button>

  <h2>Créditos de {{ nombreProveedor }}</h2>

  <div *ngIf="creditos().length > 0; else noCreditosTemplate">
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Monto</th>
          <th>Monto Restante</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let credito of creditos()">
          <td>{{ credito.fecha | date:'shortDate' }}</td>
          <td [style.color]="credito.monto < 0 ? 'red' : 'green'">{{ credito.monto | currency }}</td>
          <td>{{ credito.saldoActual| currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noCreditosTemplate>
    <p>No hay créditos disponibles.</p>
  </ng-template>
</ng-template>
