<div class="grid-container">
  <div class="compras">
    <button mat-raised-button class="btn btn-compras" (click)="mostrarCompras()" [class.active]="vistaActual === 'compras'">Compras</button>
  </div>
  <div class="ventas">
    <button mat-flat-button class="btn btn-ventas" (click)="mostrarVentas()" [class.active]="vistaActual === 'ventas'">Ventas</button>
  </div>
</div>

<ng-container *ngIf="vistaActual === 'compras'">
  <compras-bolivares></compras-bolivares>
</ng-container>

<ng-container *ngIf="vistaActual === 'ventas'">
  <ventas-bolivares></ventas-bolivares>
</ng-container>
