<div class="container">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">  
        <mat-tab>
            <ng-template mat-tab-label>
              <div>
                <span style="display: block; font-size: 0.75rem; color: #8BC94D;">Deben</span>
                <span>{{ totalCreditosLabel }}</span>
              </div>
            </ng-template>
            <app-clientes-creditos></app-clientes-creditos>
          </mat-tab>

          
      <mat-tab label="Debo">
        
      </mat-tab>
    </mat-tab-group>
  </div>
  
