<!-- Botón para regresar -->
<button mat-button (click)="goBack()" class="back-button">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
  
  <div *ngIf="dataSource.data.length > 0" class="table-container">
      <div class="table-header">
        <div class="header-item">Fecha</div>
        <div class="header-item">Movimiento</div>
        <div class="header-item">Caja</div>
      </div>
  
      <!-- Tarjetas -->
      <div *ngFor="let movimiento of dataSource.data" class="card" (click)="openDetalleDialog(movimiento)">
        <div class="card-content">
          <div class="card-item">
            <span class="card-value">
              {{ isToday(movimiento.fecha) ? (movimiento.fecha | date:'shortTime') : (movimiento.fecha | date:'shortDate') }}
            </span>
          </div>
          <div class="card-item">
            <span class="card-value">{{ movimiento.tipoMovimiento }}</span>
          </div>
          <div class="card-item">
            <span class="card-value" [style.color]="movimiento.monto > 0 ? 'green' : 'red'">
              + {{ movimiento.monto | currency:'USD' }}
            </span>
          </div>
        </div>
      </div>
  </div>
  