<div *ngIf="dataSource && dataSource.data && dataSource.data.length > 0" class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Columna 'fecha' -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let movimiento" data-label="Fecha"> 
          {{ movimiento.fecha | date:'short' }} 
        </td>
      </ng-container>
  
      <!-- Columna 'descripcion' -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let movimiento" data-label="Descripción"> 
          {{ movimiento.descripcion }} 
        </td>
      </ng-container>
  
      <!-- Columna 'monto' -->
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let movimiento" data-label="Monto"> 
          {{ movimiento.monto | currency:'USD' }} 
        </td>
      </ng-container>
  
      <!-- Header y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  