.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-template-rows: auto auto auto auto auto; /* Filas automáticas para adaptarse al contenido */
  gap: 10px; /* Espacio entre filas y columnas */
  padding: 20px;
}

.table-container {
  grid-column: 1 / -1; /* La tabla ocupará todo el ancho del contenedor */
  margin-top: 20px;
}

.agregar-venta {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.filtro {
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: start;
  margin-top: 10px;
}

.custom-table {
  width: 100%;
}

.btn-agregar {
  background-color: #4a90e2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-agregar mat-icon {
  font-size: 1.7rem; /* Ajusta el tamaño del ícono */
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin-right: -0.3rem;
}
