<div class="grid-container">
  <div class="agregar-venta">
    <button mat-flat-button class="btn btn-agregar" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="filtro">
    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (ngModelChange)="applyDateFilter()" placeholder="Selecciona una fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-icon-button matTooltip="Limpiar fecha" (click)="clearDate()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<!-- Tabla para vista de computadora -->
<div class="table-container" *ngIf="!isMobile">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
    <ng-container matColumnDef="cuentaCop">
      <th mat-header-cell *matHeaderCellDef> Cuenta Cop </th>
      <td mat-cell *matCellDef="let element"> {{element.cuentasBancariasPesos?.[0]?.cuentaBancaria?.nombreCuenta}} </td>
    </ng-container>
    <ng-container matColumnDef="metodoPago">
      <th mat-header-cell *matHeaderCellDef> Método de Pago </th>
      <td mat-cell *matCellDef="let element"> {{element.cuentasBancariasPesos?.[0]?.metodoPago?.tipopago}} </td>
    </ng-container>
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.cliente?.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="tasa">
      <th mat-header-cell *matHeaderCellDef> Tasa </th>
      <td mat-cell *matCellDef="let element"> {{element.tasaVenta}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaVenta | date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="bolivares">
      <th mat-header-cell *matHeaderCellDef> Bolívares </th>
      <td mat-cell *matCellDef="let element"> {{element.bolivaresVendidos | number: '1.2-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="pesos">
      <th mat-header-cell *matHeaderCellDef> Pesos </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>

<!-- Cards para vista móvil -->
<div class="cards-container" *ngIf="isMobile">
  <mat-card *ngFor="let venta of paginatedCards" class="card">
    <mat-card-content>
      <p><strong>Cuenta Receptora:</strong> {{venta.cuentasBancariasPesos?.[0]?.cuentaBancaria?.nombreCuenta}}</p>
      <p><strong>Método de Pago:</strong>
        <!-- {{ venta.cuentasBancariasPesos?.[0]?.metodoPago && venta.cuentasBancariasPesos[0].metodoPago.tipopago ? venta.cuentasBancariasPesos[0].metodoPago.tipopago : 'ID: ' + venta.cuentasBancariasPesos?.[0]?.metodoPago }} -->
      </p>
      <p><strong>Bolívares Vendidos:</strong> {{venta.bolivaresVendidos | number: '1.2-2'}}</p>
      <p><strong>Pesos Recibidos:</strong> {{venta.precio}}</p>
    </mat-card-content>
  </mat-card>
  <mat-paginator [length]="dataCard.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
  </mat-paginator>
</div>

