<div class="grid-container">
  <div class="agregar-venta">
    <button mat-flat-button class="btn btn-agregar" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="filtro">
    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (ngModelChange)="applyDateFilter()" placeholder="Selecciona una fecha" disabled> <!-- Aquí se añade readonly -->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <!-- Botón para limpiar la fecha -->
    <button mat-icon-button matTooltip="Limpiar fecha" (click)="clearDate()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<!-- Resto de la estructura de la tabla sigue igual -->

<!-- Tabla para vista de computadora -->
<div class="table-container" *ngIf="!isMobile">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
    <!-- Cuenta Cop Column -->
    <ng-container matColumnDef="cuentaCop">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cuenta Cop </th>
      <td mat-cell *matCellDef="let element" data-title="Cuenta Cop"> {{element.cuentaBancariaPesos?.nombreCuenta}} </td>
    </ng-container>

    <!-- Metodo Pago Column -->
    <ng-container matColumnDef="metodoPago">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Metodo Pago </th>
      <td mat-cell *matCellDef="let element" data-title="Metodo Pago"> {{element.metodoPago.tipopago}} </td>
    </ng-container>

    <!-- Cliente Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cliente </th>
      <td mat-cell *matCellDef="let element" data-title="Cliente"> {{element.cliente.nombre}} </td>
    </ng-container>

    <!-- Tasa Column -->
    <ng-container matColumnDef="tasa">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Tasa </th>
      <td mat-cell *matCellDef="let element" data-title="Tasa"> {{element.tasaVenta}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Fecha </th>
      <td mat-cell *matCellDef="let element" data-title="Fecha"> {{element.fechaVenta | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Bolivares Column -->
    <ng-container matColumnDef="bolivares">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Bolivares </th>
      <td mat-cell *matCellDef="let element" data-title="Bolivares"> {{element.bolivaresVendidos}} </td>
    </ng-container>

    <!-- Pesos Column -->
    <ng-container matColumnDef="pesos">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Pesos </th>
      <td mat-cell *matCellDef="let element" data-title="Pesos"> {{element.precio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #desktopPaginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page"></mat-paginator>
</div>

<!-- Cards para vista móvil -->
<div class="cards-container" *ngIf="isMobile">
  <mat-card *ngFor="let cuenta of mobileDataSource.data" class="card">
    <mat-card-content>
      <p><strong>Nombre destinatario:</strong> {{cuenta.nombreCuentaDestinatario}}</p>
      <p><strong>Cédula:</strong> {{cuenta.cedula}}</p>
      <p><strong>Cuenta destinatario:</strong> {{cuenta.numeroCuenta}}</p>
      <p><strong>Banco destino ID:</strong> {{cuenta.banco}}</p>
      <p><strong>Bolívares:</strong> {{cuenta.bolivares}}</p>
    </mat-card-content>
  </mat-card>
</div>
<!-- <mat-paginator #mobilePaginator *ngIf="isMobile" [length]="mobileDataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Select page"></mat-paginator> -->
