<div class="grid-container">
  <div class="compras">
    <button mat-raised-button
            class="btn"
            [ngClass]="{'btn-dark': vistaActual === 'compras',
            'btn-light': vistaActual !== 'compras'}"
            (click)="cambiarVista('compras')"

            >
      Compras
    </button>
  </div>
  <div class="ventas">
    <button mat-raised-button
            class="btn"
            [ngClass]="{'btn-dark': vistaActual === 'ventas',
            'btn-light': vistaActual !== 'ventas'}"
            (click)="cambiarVista('ventas')">
      Ventas
    </button>
  </div>
</div>

<ng-container [ngSwitch]="vistaActual">
  <compras-bolivares *ngSwitchCase="'compras'"></compras-bolivares>
  <ventas-bolivares *ngSwitchCase="'ventas'"></ventas-bolivares>
</ng-container>
