<div class="caja-container">
  <h4 style="color: #5E94FF;">Datos de la Caja</h4>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div *ngIf="monto !== null">
    <h6>Monto: {{ monto | currency }}</h6>
  </div>

  <div class="movimiento">
    <h4 style="color: #5E94FF;">Movimientos</h4>
  </div>

  <!-- Vista de escritorio: Tabla -->
  <div class="tabla-movimientos" *ngIf="!isMobile">
    <table mat-table [dataSource]="movimientos" class="mat-elevation-z8">
      <!-- Columnas -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <td mat-cell *matCellDef="let movimiento"> {{ movimiento.hora }} </td>
      </ng-container>
      <ng-container matColumnDef="tipoMovimiento">
        <th mat-header-cell *matHeaderCellDef> Tipo Movimiento </th>
        <td mat-cell *matCellDef="let movimiento"> {{ movimiento.tipoMovimiento }} </td>
      </ng-container>
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Saldo </th>
        <td mat-cell *matCellDef="let movimiento"> {{ movimiento.monto | currency }} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let movimiento"> {{ movimiento.descripcion }} </td>
      </ng-container>
      <ng-container matColumnDef="entrada">
        <th mat-header-cell *matHeaderCellDef> Entrada </th>
        <td mat-cell *matCellDef="let movimiento"> {{ movimiento.entrada ? 'Sí' : 'No' }} </td>
      </ng-container>
      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Vista móvil: Tarjetas -->
  <div class="card-movimientos" *ngIf="isMobile">
    <!-- Encabezados fijos para vista móvil -->
    <div class="mobile-header">
      <div><strong>Tipo</strong></div>
      <div><strong>Saldo</strong></div>
      <div><strong>Descripción</strong></div>
    </div>

    <mat-card *ngFor="let movimiento of movimientos" class="movimiento-card">
      <mat-card-content class="card-grid">
        <p>{{ movimiento.tipoMovimiento }}</p>
        <p>{{ movimiento.monto | currency }}</p>
        <p>{{ movimiento.descripcion }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
