.center-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.table-container {
  margin-top: 15px;
  padding: 10px;
  width: 100rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #5E94FF;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-item {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-content {
  max-height: 50rem;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #5E94FF #f1f1f1;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  justify-items: center;
}

.card-item {
  display: flex;
  align-items: center;
}

.card-item.fecha {
  grid-column: 1 / 2;
}

.card-item.tipo-movimiento {
  grid-column: 2 / 3;
}

.card-item.monto {
  grid-column: 3 / 4;
  color: #5E94FF;
}

.card-item.descripcion {
  grid-column: 4 / 5;
}

.card-item.entrada {
  grid-column: 5 / 6;
}

.card-value {
  font-size: 1rem;
  color: #333;
  text-align: left;
}

@media (max-width: 768px) {
  .table-header {
    display: flex;
  }

  .card-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-item {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  .card-value {
    font-size: 1rem;
  }
}
