<!-- cliente.component.html -->
<div class="boton-cuentas-bancarias">
  <div class="container">
    <div>
      <div class="right-align espac-h2">
        <label class="admin">ADMINISTRADOR</label>
      </div>
      <div class="right-align">
        <h2 class="desc">Lista de Clientes</h2>
      </div>
    </div>
  </div>
</div>

<div class="agregar-proveedor">
  <button mat-flat-button class="btn2 btn-agregar" (click)="openNuevoClienteDialog()">Nuevo cliente</button>
</div>
<div class="table-container centered-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell">Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Cedula Column -->
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell">Cédula</th>
      <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
    </ng-container>

    <!-- Credito Column -->
    <ng-container matColumnDef="credito">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell">Crédito Máximo</th>
      <td mat-cell *matCellDef="let element"> {{ getCreditoMaximo(element) }} </td>
    </ng-container>

    <!-- VentaBs Column -->
    <ng-container matColumnDef="ventaBs">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell">VentaBs</th>
      <td mat-cell *matCellDef="let element"> {{ getVentaBsPrice(element) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
