<div class="arriba">
<span class="material-symbols-outlined person-sp">
  person</span>
<p class="nUsuario">Nombre de usuario</p>
</div>
<mat-divider></mat-divider>


<mat-nav-list class="sidebar-nav-list">


  <a mat-list-item [routerLink]="'/index'">
    <span class="entry">
      <mat-icon class="home">home</mat-icon>
      <span class="text" >Index</span>
    </span>
  </a>

  <a mat-list-item routerLink="/operaciones">
    <span class="entry">
      <mat-icon class="material-symbols-outlined">
        widgets
        </mat-icon>
      <span class="text">Operaciones</span>
    </span>
  </a>

  <a mat-list-item routerLink="/test">
    <span class="entry">
      <mat-icon class="material-symbols-outlined">
        assignment
        </mat-icon>
      <span class="text">Test</span>
    </span>
  </a>
   <a mat-list-item routerLink="/cajas">
    <span class="entry">
      <mat-icon class="cajas">inbox</mat-icon>
      <span class="text" >Caja</span>
    </span>
  </a>

  <a mat-list-item [routerLink]="'/configuracion'">
    <span class="entry">
      <mat-icon class="material-symbols-outlined">
        settings
        </mat-icon>
      <span class="text">Configuraciones</span>
    </span>
  </a>

  <a mat-list-item [routerLink]="'/cuentaBancaria'">
    <span class="entry">
      <span class="material-symbols-outlined">
        account_balance
        </span>
      <span class="text">Cuentas Bancos</span>
    </span>
  </a>
</mat-nav-list>
