<div class="sidenav-container">
  <button class="collapse-button" *ngIf="isMobile && !collapsad" (click)="toggleCollapse()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="sidenav" [ngClass]="{'sidenav-collapsed': collapsad, 'sidenav-hidden': isMobile && !collapsad}">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()"><img src="../../../assets/sourceImag/logoCambiosArabes.png" alt=""></button>
      <div class="logo-text" *ngIf="collapsad">CAMBIOS ARABES</div>
      
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link" [routerLink]="[data.routerLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeOnSelect()">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" *ngIf="collapsad">{{ data.label }}</span>
        </a>
      </li>
    </ul>
    <!-- Botón para cerrar sesión al final del sidenav -->
    <button mat-icon-button class="btn-logout" (click)="logout()" aria-label="Cerrar sesión">
      <mat-icon>power_settings_new</mat-icon> <!-- Icono de apagar -->
    </button>
  </div>
  <div class="overlay" *ngIf="showOverlay" (click)="handleOverlayClick()"></div>
</div>
