.sidebar-nav-list {
  padding: 0;
}

.sidebar-nav-list a {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  text-decoration: none;
  color: inherit;
}

.sidebar-nav-list a.active {
  background-color: #e0e0e0; /* Highlight the active link */
}

.sidebar-nav-list .entry {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.sidebar-nav-list .entry mat-icon {
  margin-right: 1rem;
}

.mat-divider {
  margin: 0;
}

h3 {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.t {
  font-size: medium;
  text-decoration: underline;
}

.home {
  color: #5e94ff;
}

.cajas {
  color: #8b98a6;
}

.nUsuario {
  font-size: 1.15rem;
  margin-right: 1.25rem;
  margin-top: 12px;
  color: #5e94ff;
  font-family: Arial, Helvetica, sans-serif;
}

.arriba {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -3px;
}

.text {
  cursor: pointer;
  text-decoration: none;
}

.person-sp {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: #5e94ff;
  margin-left: 1.25rem;
}

.material-symbols-outlined {
  color: #5e94ff;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  margin-right: 1rem;
}

.division {
  color: #5e94ff;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .sidebar-nav-list .entry {
    margin-top: 10px;
  }
}






.sidenav{
  background: #263238;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 17rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.logo-container{
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0.938rem ;
  width: 100%;
  .logo{

    background: blanchedalmond;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding:  0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
  }
  .logo-text{

    margin-top: 1.5 rem;
    font-size: 24px;
    font-weight: 700;
    color: #5e94ff;
  }

  .btn-clase{
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;

    .fa-times{
      color: #fff;
      font-size: 24px;
    }
  }
}