<div class="modal-overlay">
  <div class="modal-content">
    <div class="header-container">
      <h2>Agregar Venta</h2>
      <!-- Contenedor para las etiquetas -->
      <div class="labels-container">
        <label id="Pesos">{{ pesosLabel | currency:'USD':'symbol':'1.2-2' }}</label> <!-- Label para los pesos -->
        <label id="Bolivares">{{ bolivaresLabel | currency:'VES':'symbol':'1.2-2' }}</label> <!-- Label para los bolívares -->
      </div>
    </div>
    <div class="separator"></div>
    <form [formGroup]="form" (ngSubmit)="onConfirmar()">
      <div class="form-grid">
        <div formArrayName="cuentasDestinatario">
          <div *ngFor="let cuenta of cuentasDestinatarioArray.controls; let i = index" [formGroupName]="i">
            <div class="form-group" [ngClass]="{'has-error': cuenta.get('nombreCuenta')?.invalid && cuenta.get('nombreCuenta')?.touched}">
              <label for="nombreCuenta{{i}}">Nombre cuenta <span class="required">*</span></label>
              <input id="nombreCuenta{{i}}" type="text" formControlName="nombreCuenta" placeholder="Ingrese nombre de la cuenta">
            </div>
            <div class="form-group" [ngClass]="{'has-error': cuenta.get('numeroCuenta')?.invalid && cuenta.get('numeroCuenta')?.touched}">
              <label for="numeroCuenta{{i}}">Número de Cuenta <span class="required">*</span></label>
              <input id="numeroCuenta{{i}}" type="tel" inputmode="numeric" formControlName="numeroCuenta" placeholder="Ingrese número de cuenta">
            </div>
            <div class="form-group" [ngClass]="{'has-error': cuenta.get('cedula')?.invalid && cuenta.get('cedula')?.touched}">
              <label for="cedula{{i}}">Cédula <span class="required">*</span></label>
              <div class="input-button-group">
                <input id="cedula{{i}}" type="tel" inputmode="numeric" pattern="[0-9]*" formControlName="cedula" placeholder="Número de cédula">
                <!-- Botón con el icono de ojo -->
                <button mat-icon-button type="button" (click)="openModal()">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </div>

            <div class="form-group" *ngIf="bolivaresVisible" [ngClass]="{'has-error': cuenta.get('bolivares')?.invalid && cuenta.get('bolivares')?.touched}">
              <label for="bolivares{{i}}">{{ cuenta.get('currency')?.value === 'bolivares' ? 'Bolívares' : 'Pesos' }} <span class="required">*</span></label>
              <div class="input-button-group">
                <!-- El input debe manejar correctamente el control bolívares o pesos -->
                <input id="bolivares{{i}}" type="number" formControlName="{{ cuenta.get('currency')?.value === 'bolivares' ? 'bolivares' : 'pesos' }}"
                       placeholder="Ingrese cantidad de bolívares o pesos" (input)="onBolivaresOrPesosInput($event, i)">
                <button mat-icon-button type="button" (click)="toggleCurrency(i)">
                  <mat-icon>swap_horiz</mat-icon>
                </button>
              </div>
            </div>
            <button mat-icon-button color="warn" type="button" (click)="removeCuentaDestinatario(i)" *ngIf="cuentasDestinatarioArray.length > 1">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>
        <div class="form-group hidden">
          <label for="fecha">Fecha <span class="required">*</span></label>
          <input id="fecha" type="text" formControlName="fecha" [value]="currentDate" readonly>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('cliente')?.invalid && form.get('cliente')?.touched}">
          <label for="cliente">Cliente <span class="required">*</span></label>
          <select id="cliente" formControlName="cliente">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>
          </select>
        </div>

        <div class="form-group" *ngIf="isClienteFinalVisible" [ngClass]="{'has-error': form.get('clienteFinal')?.invalid && form.get('clienteFinal')?.touched}">
          <label for="clienteFinal">Cliente Contacto <span class="required">*</span></label>
          <input id="clienteFinal" type="text" formControlName="clienteFinal" placeholder="Ingrese el cliente final">
        </div>

        <div class="form-group" [ngClass]="{'has-error': form.get('tipoPago')?.invalid && form.get('tipoPago')?.touched}">
          <label for="tipoPago">Tipo de pago <span class="required">*</span></label>
          <select id="tipoPago" formControlName="tipoPago">
            <option *ngFor="let metodo of metodosPago" [value]="metodo.id">{{ metodo.tipopago }}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('cuentaPesos')?.invalid && form.get('cuentaPesos')?.touched}">
          <label for="cuentaPesos">Cuenta pesos <span class="required">*</span></label>
          <select id="cuentaPesos" formControlName="cuentaPesos">
            <option *ngFor="let cuenta of cuentasColombianas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{{ currentLabel }} <span class="required">*</span></label>
          <div class="input-button-group">
            <input
            type="text"
            inputmode="decimal"
            formControlName="precioVentaBs"
            placeholder="Cantidad"
            (input)="onInputChange($event)"
            [value]="formattedPrice"
          />
            <button type="button" class="btn-toggle" (click)="toggleCantidad()"><mat-icon>swap_horiz</mat-icon></button>
            <button type="button" class="btn-toggle" (click)="makeTasaEditable()"><mat-icon>create</mat-icon></button>
          </div>
        </div>
        <div class="form-group" *ngIf="isTasaVisible" [ngClass]="{'has-error': form.get('tasaVenta')?.invalid && form.get('tasaVenta')?.touched}">
          <div class="input-button-group">
            <label >Tasa Especial<span class="required">*</span></label>
            <input id="tasaVenta" type="number" formControlName="tasaVenta" [readonly]="!isTasaEditable" placeholder="Tasa del día">
          </div>
        </div>
      </div>
      <div class="button-group">
        <button type="submit" class="btn-confirmar" (click)="onConfirmar()">Confirmar</button>
        <button type="button" class="btn-cancelar" (click)="onCancelar()">Cancelar</button>
        <button type="button" class="btn-toggle" (click)="addCuentaDestinatario()"><mat-icon>add</mat-icon></button>
      </div>
    </form>
  </div>
</div>
