<div class="modal-overlay">
  <div class="modal-content">
    <h2>Agregar Venta</h2>
    <div class="separator"></div>
    <form [formGroup]="form" (ngSubmit)="onConfirmar()">
      <div class="form-grid">
        <!-- Campos del formulario -->
        <div class="form-group" [ngClass]="{'has-error': form.get('nombreCuenta')?.invalid && form.get('nombreCuenta')?.touched}">
          <label for="nombreCuenta">Nombre cuenta <span class="required">*</span></label>
          <input id="nombreCuenta" type="text" formControlName="nombreCuenta" placeholder="Ingrese nombre de la cuenta">
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('numeroCuenta')?.invalid && form.get('numeroCuenta')?.touched}">
          <label for="numeroCuenta">Número de Cuenta <span class="required">*</span></label>
          <input id="numeroCuenta" type="text" formControlName="numeroCuenta" placeholder="Ingrese número de cuenta">
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('cedula')?.invalid && form.get('cedula')?.touched}">
          <label for="cedula">Cédula <span class="required">*</span></label>
          <input id="cedula" type="tel" inputmode="numeric" pattern="[0-9]*" formControlName="cedula" placeholder="Número de cédula">
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('nombreBanco')?.invalid && form.get('nombreBanco')?.touched}">
          <label for="nombreBanco">Nombre de banco <span class="required">*</span></label>
          <input id="nombreBanco" type="text" formControlName="nombreBanco" placeholder="Ingrese nombre del banco">
        </div>
        <div class="form-group hidden">
          <label for="fecha">Fecha <span class="required">*</span></label>
          <input id="fecha" type="text" formControlName="fecha" [value]="currentDate" readonly>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('cuentaBs')?.invalid && form.get('cuentaBs')?.touched}">
          <label for="cuentaBs">Cuenta BS <span class="required">*</span></label>
          <select id="cuentaBs" formControlName="cuentaBs">
            <option *ngFor="let cuenta of cuentasVenezolanas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('cliente')?.invalid && form.get('cliente')?.touched}">
          <label for="cliente">Cliente <span class="required">*</span></label>
          <select id="cliente" formControlName="cliente">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('tipoPago')?.invalid && form.get('tipoPago')?.touched}">
          <label for="tipoPago">Tipo de pago <span class="required">*</span></label>
          <select id="tipoPago" formControlName="tipoPago">
            <option *ngFor="let metodo of metodosPago" [value]="metodo.id">{{ metodo.tipopago }}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('cuentaPesos')?.invalid && form.get('cuentaPesos')?.touched}">
          <label for="cuentaPesos">Cuenta pesos <span class="required">*</span></label>
          <select id="cuentaPesos" formControlName="cuentaPesos">
            <option *ngFor="let cuenta of cuentasColombianas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('conversionAutomatica')?.invalid && form.get('conversionAutomatica')?.touched}">
          <label for="conversionAutomatica">Conversión automática <span class="required">*</span></label>
          <input id="conversionAutomatica" type="text" formControlName="conversionAutomatica" readonly placeholder="Conversión automática">
        </div>
        <div class="form-group">
          <label>{{ currentLabel }} <span class="required">*</span></label>
          <div class="input-button-group">
            <input [type]="currentType" inputmode="decimal" formControlName="cantidad" placeholder="Cantidad">
            <button type="button" class="btn-toggle" (click)="toggleCantidad()"><mat-icon>swap_horiz</mat-icon></button>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('comision')?.invalid && form.get('comision')?.touched}">
          <label for="comision">Comisión <span class="required">*</span></label>
          <input id="comision" type="text" inputmode="decimal" formControlName="comision" placeholder="Comisión">
        </div>
        <!-- <div class="form-group" [ngClass]="{'has-error': form.get('tasa')?.invalid && form.get('tasa')?.touched}">
          <label for="tasa">Tasa <span class="required">*</span></label>
          <input id="tasa" type="number" formControlName="tasa" readonly placeholder="Tasa del día">
        </div> -->
      </div>
      <div class="button-group">
        <button type="submit" class="btn-confirmar" (click)="onConfirmar()">Confirmar Venta</button>
        <button type="button" class="btn-cancelar" (click)="onCancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
