<div class="boton-cuentas-bancarias">
  <div class="container">
    <div>
      <div class="right-align">
        <h2 class="desc">Descripciones</h2>
      </div>
    </div>
  </div>
</div>

<div class="agregar-proveedor">
  <button mat-flat-button class="btn-agregar" (click)="nuevaDescripcion()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Vista de escritorio: Tabla -->
<div class="table-container centered-table" *ngIf="!isMobile">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell centered-cell"> ID </th>
      <td mat-cell *matCellDef="let element" class="centered-cell"> {{element.id}} </td>
    </ng-container>

    <!-- Texto Column -->
    <ng-container matColumnDef="texto">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell centered-cell"> Descripción </th>
      <td mat-cell *matCellDef="let element" class="centered-cell"> {{element.texto}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell centered-cell"> Acciones </th>
      <td mat-cell *matCellDef="let element" class="centered-cell"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="centered-cell"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="centered-cell"></tr>
  </table>
</div>

<!-- Vista móvil: Cards -->
<div class="card-container" *ngIf="isMobile">
  <mat-card *ngFor="let element of dataSource" class="example-card">
    <mat-card-content>
      <div class="card-grid">
        <div class="grid-item">
          <p><strong>ID:</strong> {{element.id}}</p>
          <p><strong>Descripción:</strong> {{element.texto}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
