body {
  font-size: 16px; /* Ajuste general de tamaño de fuente */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.admin {
  font-size: 1.1rem;
  color: #666;
  font-weight: bold;
}

.desc {
  font-size: 2rem;
  color: #4a90e2;
  margin: 0;
  font-weight: bold;
}

.btn-agregar {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.table-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 20px;
}

.custom-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
}

.custom-table th, .custom-table td {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
}

.custom-table th {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-card {
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }

  .btn-agregar {
    width: 100%;
  }

  .table-container {
    padding: 0.5rem;
  }

  .custom-table {
    width: 100%;
    display: block; /* Asegura que la tabla sea desplazable */
    overflow-x: auto;
    white-space: nowrap; /* Evita el ajuste automático de líneas */
  }
}
