<h2 mat-dialog-title>Detalles de la Compra</h2>
<mat-dialog-content *ngIf="compra">
  <p><strong>Proveedor:</strong> {{ compra.proveedor }}</p>
  <p><strong>Método de Pago:</strong> {{ compra.metodoPago }}</p>
  <p><strong>Cuenta Bancaria Bs:</strong> {{ compra.cuentaBancariaBs }}</p>
  <p><strong>Cuenta Bancaria Pesos:</strong> {{ compra.cuentaBancariaPesos }}</p>
  <p><strong>Fecha de Compra:</strong> {{ compra.fechaCompra | date:'short' }}</p>
  <p><strong>Referencia:</strong> {{ compra.referencia }}</p>
  <p><strong>Monto Bs:</strong> {{ compra.montoBs }}</p>
  <p><strong>Precio:</strong> {{ compra.precio }}</p>
  <p><strong>Tasa de Compra:</strong> {{ compra.tasaCompra }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cerrar</button>
</mat-dialog-actions>
