<!-- <h2 mat-dialog-title>Detalles de compra - {{detallesCompra.proveedor}}</h2>
    <mat-dialog-content>
      <div class="detalles-grid">
        <div class="detalle-item">
          <strong>Método de Pago:</strong> {{detallesCompra.metodoPago}}
        </div>
        <div class="detalle-item">
          <strong>Cuenta Bancaria Bs:</strong> {{detallesCompra.cuentaBancariaBs}}
        </div>
        <div class="detalle-item">
          <strong>Cuenta Bancaria Pesos:</strong> {{detallesCompra.cuentaBancariaPesos}}
        </div>
        <div class="detalle-item">
          <strong>Fecha:</strong> {{detallesCompra.fecha | date:'short'}}
        </div>
        <div class="detalle-item">
          <strong>Referencia:</strong> {{detallesCompra.referencia}}
        </div>
        <div class="detalle-item">
          <strong>Monto Bs:</strong> {{detallesCompra.montoBs}}
        </div>
        <div class="detalle-item">
          <strong>Monto Pesos:</strong> {{detallesCompra.montoPesos}}
        </div>
        <div class="detalle-item">
          <strong>Tasa:</strong> {{detallesCompra.tasa}}
        </div>
        <div class="detalle-item">
          <strong>Detalles:</strong> {{detallesCompra.detalles}}
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="onCerrar()">Cerrar</button>
    </mat-dialog-actions> -->

    <!-- <ng-container matColumnDef="metodoPago">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Método de Pago </th>
      <td mat-cell *matCellDef="let element"> {{element.metodoPago}} </td>
    </ng-container>

    <ng-container matColumnDef="cuentaBancariaBs">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cuenta Bancaria Bs </th>
      <td mat-cell *matCellDef="let element"> {{element.cuentaBancariaBs}} </td>
    </ng-container>

    <ng-container matColumnDef="cuentaBancariaPesos">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cuenta Bancaria Pesos </th>
      <td mat-cell *matCellDef="let element"> {{element.cuentaBancariaPesos}} </td>
    </ng-container>

        <ng-container matColumnDef="montoPesos">
          <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Monto Pesos </th>
          <td mat-cell *matCellDef="let element"> {{element.montoPesos}} </td>
        </ng-container> -->
