
<div class="boton-cuentas-bancarias">
  <div class="container">
    <div class="buttons-container">
      <div class="button-align">
        <button mat-stroked-button class="btn"
          [ngClass]="{'btn-active': vistaActual === 'descripcion',
          'btn-inactive': vistaActual !== 'descripcion'}"
          (click)="cambiarVista('descripcion')">
          Descripciones
        </button>
      </div>
      <div class="left-align">
        <button mat-stroked-button class="btn"
          [ngClass]="{'btn-active': vistaActual === 'gastos',
          'btn-inactive': vistaActual !== 'gastos'}"
          (click)="cambiarVista('gastos')">
         Gastos
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container [ngSwitch]="vistaActual">
  <descripcion *ngSwitchCase="'descripcion'"></descripcion>
  <gastos *ngSwitchCase="'gastos'"></gastos>
</ng-container>
