<div class="container">
  <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="cambiarVista($event)">
    <mat-tab label="Descripciones">
    </mat-tab>
    <mat-tab label="Gastos">
    </mat-tab>
    <mat-tab label="Proveedores">
    </mat-tab>
    <mat-tab label="Clientes">
    </mat-tab>
    <mat-tab label="Historial">
    </mat-tab>
  </mat-tab-group>

  <ng-container [ngSwitch]="vistaActual">
    <descripcion *ngSwitchCase="'descripcion'"></descripcion>
    <gastos *ngSwitchCase="'gastos'"></gastos>
    <proveedor *ngSwitchCase="'proveedor'"></proveedor>
    <cliente *ngSwitchCase="'cliente'"></cliente>
    <history *ngSwitchCase="'historial'"></history>
  </ng-container>
</div>
