<div class="modal-overlay">
  <div class="modal-content">
    <h2>Agregar Salida</h2>
    <div class="separator"></div>
    <form [formGroup]="form" (ngSubmit)="onConfirmar()">
      <div class="form-grid">
        <div class="form-group" [ngClass]="{'has-error': form.get('monto')?.invalid && form.get('monto')?.touched}">
          <label for="monto">Monto <span class="required">*</span></label>
          <input id="monto" type="number" formControlName="monto">
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('metodoPago')?.invalid && form.get('metodoPago')?.touched}">
          <label for="metodoPago">Método de Pago <span class="required">*</span></label>
          <select id="metodoPago" formControlName="metodoPago" (change)="onMetodoPagoChange()">
            <option *ngFor="let metodo of metodosPago" [value]="metodo.id">{{ metodo.tipopago }}</option>
          </select>
        </div>

        <!-- Mostrar el campo Cuenta Salida solo si el método de pago no es 5 -->
        <div *ngIf="!isMetodoPago5" class="form-group" [ngClass]="{'has-error': form.get('destino')?.invalid && form.get('destino')?.touched}">
          <label for="destino">Cuenta salida <span class="required">*</span></label>
          <select id="destino" formControlName="destino">
            <option *ngFor="let cuenta of cuentasColombianas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</option>
          </select>
        </div>

        <div *ngIf="showCuentaEntrante" class="form-group" [ngClass]="{'has-error': form.get('cuentaEntrante')?.invalid && form.get('cuentaEntrante')?.touched}">
          <label for="cuentaEntrante">Cuenta entrante <span class="required">*</span></label>
          <select id="cuentaEntrante" formControlName="cuentaEntrante">
            <option *ngFor="let cuenta of cuentasColombianas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('descripcion')?.invalid && form.get('descripcion')?.touched}">
          <label for="descripcion">Descripción <span class="required">*</span></label>
          <select id="descripcion" formControlName="descripcion">
            <option *ngFor="let descripcion of descripciones" [value]="descripcion.id">{{ descripcion.texto }}</option>
          </select>
        </div>
      </div>
      <div class="button-group">
        <button type="submit" class="btn-confirmar" [disabled]="isLoading">Confirmar Salida</button>
        <button type="button" class="btn-cancelar" (click)="onCancelar()" [disabled]="isLoading">Cancelar</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
