<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">Inicio de Sesión</h1>
    <div class="login-title-underline"></div>
    <p class="login-subtitle">Ingrese los datos para iniciar sesión</p>
    <form class="login-form" [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
      <div class="input-group">
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" formControlName="username" required>
      </div>
      <div class="input-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <button type="submit" class="submit-button">Iniciar Sesión</button>
    </form>
  </div>
</div>
