.sidenav-container {
  height: 100vh;
  display: flex;
  background-color: #EBEEF8;
}

mat-sidenav-container {
  flex: 1;
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background-color: white;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0 !important;
  }
}
