<h5 mat-dialog-title class="dialog-title">{{ title }}</h5>
<div mat-dialog-content class="dialog-content">
  <p *ngFor="let field of fields">
    <strong>{{ field.label }}:</strong>
    <span *ngIf="!field.format">{{ config.data[field.key] }}</span>
    <span *ngIf="field.format === 'date'">{{ config.data[field.key] | date:'fullDate' }}</span>
    <span *ngIf="field.format === 'currency'">{{ config.data[field.key] | currency:'USD' }}</span>
  </p>

  <!-- Selector de fecha -->
  <mat-form-field appearance="fill" class="date-picker-container"  style="display: none;">
    <mat-label>Selecciona una nueva fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="nuevaFecha" [max]="today" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

   <!-- Mostrar este campo solo después de seleccionar una fecha -->
<mat-form-field appearance="fill" class="date-picker-container" *ngIf="nuevaFecha">
  <mat-label>Fecha seleccionada</mat-label>
  <input matInput [value]="nuevaFecha | date:'dd-MM-yyyy'" disabled>
</mat-form-field>

</div>

<div mat-dialog-actions *ngIf="showCloseButton">
  <button mat-button (click)="closeDialog()">{{ closeButtonLabel }}</button>
  <button mat-button (click)="picker.open()">Actualizar Fecha</button>
  <button mat-button (click)="actualizarFecha()">Aceptar</button>
</div>
