.sidenav-container {
  height: 100vh;
  display: flex;
  background-color: #ebeff8; /* Color de fondo del contenedor */
}

mat-sidenav-container {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 250px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background-color: white; /* Color de fondo del área de contenido */
}

.padding-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #ebeff8; /* Color de fondo del área de padding */
}

.content-area {
  flex: 1;
  background-color: #ffffff; /* Color de fondo del contenido */
  padding: 1rem; /* Ajusta el padding interno si es necesario */
  overflow-y: auto;
}
.hidden {
  display: none;
}


/* Media queries for responsive design */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 250px;
  }

  .padding-area {
    padding: 10px;
  }
}



