<div class="table-container centered-table" *ngIf="!isMobile">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

    <!-- Banco Column -->
    <ng-container matColumnDef="banco">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Banco </th>
      <td mat-cell *matCellDef="let element" data-title="Banco"> {{element.bancoDestino}} </td>
    </ng-container>

    <!-- Cédula Column -->
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cédula </th>
      <td mat-cell *matCellDef="let element" data-title="Cédula"> {{element.cedulaDestino}} </td>
    </ng-container>

    <!-- Cuenta Column -->
    <ng-container matColumnDef="cuenta">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cuenta </th>
      <td mat-cell *matCellDef="let element" data-title="Cuenta"> {{element.numeroCuentaDestinatario}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Nombre </th>
      <td mat-cell *matCellDef="let element" data-title="Nombre"> {{element.nombreCuentaDestinatario}} </td>
    </ng-container>

    <!-- Bolívares Column -->
    <ng-container matColumnDef="bolivares">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Bolívares </th>
      <td mat-cell *matCellDef="let element" data-title="Bolívares"> {{element.bolivaresEnviar}} </td>
    </ng-container>

    <!-- Cuenta Usada Column -->
    <ng-container matColumnDef="cuentaUsada">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Cuenta Usada </th>
      <td mat-cell *matCellDef="let element" data-title="Cuenta Usada"> {{element.nombreCuentaBs}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="balance-button" (click)="openBancosDialog(element)">
          <mat-icon>account_balance</mat-icon>
        </button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="check-button" (click)="openConfirmDialog(element)">
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Cards para vista móvil -->
<div class="cards-container" *ngIf="isMobile">
  <mat-card *ngFor="let element of dataSource" class="card border-red">
    <mat-card-content>
      <p><strong>Banco destino:</strong> {{element.bancoDestino}}</p>
      <p><strong>Cedula destino:</strong> {{element.cedulaDestino}}</p>
      <p><strong>Cuenta destinatario:</strong> {{element.numeroCuentaDestinatario}}</p>
      <p><strong>Nombre destinatario:</strong> {{element.nombreCuentaDestinatario}}</p>
      <p><strong>Bolivares:</strong> {{element.bolivaresEnviar}}</p>
      <p><strong>cuenta:</strong> {{element.nombreCuentaBs}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="balance-button" (click)="openBancosDialog(element)">
        <mat-icon>account_balance</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="check-button" (click)="openConfirmDialog(element)">
        <mat-icon>check</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
