.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 10px;
  padding: 20px;
}

.administrador {
  grid-column: 1 / -1;
  text-align: center;
}

.ventas-bolivares {
  grid-column: 1 / -1;
  text-align: center;
}

.agregar-compra{
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
}
.btn-agregar{
  grid-row: inherit;
  justify-self: end;
}
.agregar-venta {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
}

.filtro {
  grid-column: 2;
  grid-row: 5;
  justify-self: end;
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-agregar {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Evita que el texto se desborde */
}

.btn-agregar:hover {
  background-color: #3a78c2;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-agregar:active {
  background-color: #3366bb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.btn-filtro {
  background-color: #f0f0f0;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-filtro:hover {
  background-color: #e0e0e0;
}

.btn-filtro:active {
  background-color: #d0d0d0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.admin {
  font-size: 1.1rem;
  color: #666;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: #4a90e2;
  margin: 0;
  font-weight: bold;
}

/* Tabla estilos */
.column {
  background: blue;
}

:host ::ng-deep .custom-header-cell {
  background-color: #4a90e2 !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.table-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.centered-table {
  width: 100%;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

/* Media query to maintain the same structure on smaller screens */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center; /* Center items horizontally */
  }

  .agregar-venta, .filtro {
    justify-self: center;
    margin-top: 10px;
    grid-column: 1;
  }
  .agregar-compra{
    grid-column: 1;
  }

  .btn-agregar {
    width: auto;
    padding: 10px 20px;
    text-align: center;
    height: auto;
    grid-column: 1;

  }

  .btn-filtro {
    width: auto;
    padding: 10px 20px;
    text-align: center;
  }

  .table-container {
    padding: 0.5rem;
  }

  .custom-table, .custom-table th, .custom-table td {
    display: table-cell;
    width: auto;
  }

  .custom-table th, .custom-table td {
    display: table-cell;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
  }

  .custom-table th {
    background-color: #4a90e2;
    color: white;
  }

  .custom-table td {
    padding-left: 8px;
  }
}
