<div class="boton-cuentas-bancarias">
  <div class="container">
    <div class="button-align">
      <button mat-stroked-button class="btn btn-desc">Cuentas Colombianas</button>
    </div>
    <div  class="left-align">
      <button mat-stroked-button class="btn btn-desc">Cuentas Venezolanas</button>
    </div>
    <div>
      <div class="right-align espac-h2">
        <label class="admin">ADMINISTRADOR</label>
      </div>
      <div></div>
      <div class="right-align">
        <h2 class="desc">Cuentas Bancarias</h2>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
