<div class="container">
  <!-- Habilitar el desplazamiento con la propiedad scrollable -->
  <mat-tab-group [(selectedIndex)]="selectedTabIndex" mat-stretch-tabs scrollable>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <span style="display: block; font-size: 0.75rem; color: #8BC94D;">Pesos:</span>
          <span>{{ totalPesosLabel }}</span>
        </div>
      </ng-template>
      <app-cuenta-colombiana (totalPesosEmitter)="actualizarTotalPesos($event)"></app-cuenta-colombiana>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <span style="display: block; font-size: 0.75rem; color: #8BC94D;">BS</span>
          <span>{{ equivalenteEnPesosLabel }}</span>
        </div>
      </ng-template>
      <app-cuenta-venezolana (equivalenteEnPesosEmitter)="actualizarEquivalenteEnPesos($event)"></app-cuenta-venezolana>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <span style="display: block; font-size: 0.75rem;">Créditos:</span>
          <!-- Mostrar el balance de deudas con color dinámico -->
          <span [ngStyle]="{'color': balanceDeudasStyle}">{{ balanceDeudasLabel }}</span>
        </div>
      </ng-template>
      <app-creditos></app-creditos>
    </mat-tab>
  </mat-tab-group>
</div>
