<h1>Tasa Bolivares</h1>
<button (click)="openActualizarTasaDialog()" class="btn-actualizar-tasa">Actualizar Tasa</button>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bolivares</th>
        <th>Tasa</th>
        <th>Pesos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tasas; let i = index">
        <td *ngIf="!item.editable">{{ item.bolivares }}</td>
        <td *ngIf="item.editable"><input [(ngModel)]="item.bolivares" class="form-control" (input)="updatePesos(item)"></td>
        
        <td *ngIf="!item.editable">{{ item.tasa }}</td>
        <td *ngIf="item.editable"><input [(ngModel)]="item.tasa" class="form-control" (input)="updatePesos(item)"></td>
        
        <td>{{ item.pesos }}</td>
        
        <td class="actions-column">
          <button *ngIf="!item.editable" (click)="editItem(i)" class="btn btn-warning btn-sm">
            <mat-icon>edit</mat-icon> Editar
          </button>
          <button *ngIf="item.editable" (click)="saveItem(i)" class="btn btn-success btn-sm">
            <mat-icon>save</mat-icon> Guardar
          </button>
          <button *ngIf="item.editable" (click)="cancelEdit(i)" class="btn btn-secondary btn-sm">
            <mat-icon>cancel</mat-icon> Cancelar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
