<h1 style="color: #5E94FF; margin-top: 3rem;">Tasa Bolivares</h1>
<div class="button-group-horizontal">
  <button (click)="openActualizarTasaDialog()" class="btn-actualizar-tasa">
    <mat-icon>update</mat-icon>
    <span class="btn-text" >Actualizar Tasa</span>
  </button>
  <button (click)="downloadTableAsImage()" class="btn-actualizar-tasa">
    <mat-icon>image</mat-icon>
    <span class="btn-text">Descargar Imagen</span>
  </button>
  <button (click)="downloadTableAsVideo()" class="btn-actualizar-tasa">
    <mat-icon>videocam</mat-icon>
    <span class="btn-text">Descargar Video</span>
  </button>
</div>

<div class="container" #captureElement>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bolivares</th>
        <th>Tasa</th>
        <th>Pesos</th>
        <th>Suma Tasa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tasas; let i = index">
        <td *ngIf="!item.editable">{{ item.bolivares }}</td>
        <td *ngIf="item.editable"><input [(ngModel)]="item.bolivares" class="form-control" (input)="updatePesos(item)"></td>

        <td>{{ item.tasaVenta }}</td>

        <td>{{ item.pesos }}</td>

        <td *ngIf="!item.editable">{{ item.sumaTasa }}</td>
        <td *ngIf="item.editable"><input [(ngModel)]="item.sumaTasa" class="form-control" (input)="updatePesos(item)"></td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <button *ngIf="!isEditable" (click)="editItem()" class="btn btn-warning btn-sm">
      <mat-icon>edit</mat-icon>
      <span class="btn-text">Editar</span>
    </button>
    <button *ngIf="isEditable" (click)="saveItem()" class="btn btn-success btn-sm">
      <mat-icon>save</mat-icon>
      <span class="btn-text">Guardar</span>
    </button>
    <button *ngIf="isEditable" (click)="cancelEdit()" class="btn btn-secondary btn-sm">
      <mat-icon>cancel</mat-icon>
      <span class="btn-text">Cancelar</span>
    </button>
  </div>
</div>
