<h1>Tasa Bolivares</h1>
<button (click)="openActualizarTasaDialog()" class="btn-actualizar-tasa">Actualizar Tasa</button>
<button (click)="downloadTableAsImage()" class="btn-actualizar-tasa">Descargar Imagen</button>
<button (click)="downloadTableAsVideo()" class="btn-actualizar-tasa">Descargar Video</button>

<div class="container" #captureElement>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bolivares</th>
        <th>Tasa</th>
        <th>Pesos</th>
        <th>Suma Tasa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tasas; let i = index">
        <td *ngIf="!item.editable">{{ item.bolivares }}</td>
        <td *ngIf="item.editable"><input [(ngModel)]="item.bolivares" class="form-control" (input)="updatePesos(item)"></td>

        <td>{{ item.tasaVenta }}</td>

        <td>{{ item.pesos }}</td>

        <td *ngIf="!item.editable">{{ item.sumaTasa }}</td>
        <td *ngIf="item.editable"><input [(ngModel)]="item.sumaTasa" class="form-control" (input)="updatePesos(item)"></td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <button *ngIf="!isEditable" (click)="editItem()" class="btn btn-warning btn-sm">
      <mat-icon>edit</mat-icon> Editar
    </button>
    <button *ngIf="isEditable" (click)="saveItem()" class="btn btn-success btn-sm">
      <mat-icon>save</mat-icon> Guardar
    </button>
    <button *ngIf="isEditable" (click)="cancelEdit()" class="btn btn-secondary btn-sm">
      <mat-icon>cancel</mat-icon> Cancelar
    </button>
  </div>
</div>
