<div class="modal-overlay">
  <div class="modal-content">
    <h2>Agregar Compra</h2>
    <div class="separator"></div>
    <form [formGroup]="form" (ngSubmit)="onConfirmar()">
      <div class="form-grid">
        <div class="form-group" [ngClass]="{'has-error': form.get('proveedorId')?.invalid && form.get('proveedorId')?.touched}">
          <label for="proveedorId">Proveedor <span class="required">*</span></label>
          <select id="proveedorId" formControlName="proveedorId">
            <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.nombre }}</option>
          </select>
        </div>
        <div class="form-group hidden-field" [ngClass]="{'has-error': form.get('fechaCompra')?.invalid && form.get('fechaCompra')?.touched}">
          <label for="fechaCompra">Fecha <span class="required">*</span></label>
          <input id="fechaCompra" type="datetime-local" formControlName="fechaCompra" [value]="currentDate" readonly>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('metodoPagoId')?.invalid && form.get('metodoPagoId')?.touched}">
          <label for="metodoPagoId">Método de Pago <span class="required">*</span></label>
          <select id="metodoPagoId" formControlName="metodoPagoId" (change)="onMetodoPagoChange()">
            <option *ngFor="let metodo of metodosPago" [value]="metodo.id">{{ metodo.tipopago }}</option>
          </select>
        </div>

        <div class="form-group" [ngClass]="{'has-error': form.get('cuentaBancariaBs')?.invalid && form.get('cuentaBancariaBs')?.touched}">
          <label for="cuentaBancariaBs">Cuenta bancaria Bs <span class="required">*</span></label>
          <select id="cuentaBancariaBs" formControlName="cuentaBancariaBs">
            <option *ngFor="let cuenta of cuentasVenezolanas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</option>
          </select>
        </div>

        <div *ngIf="showCuentaBancariaPesos" class="form-group" [ngClass]="{'has-error': form.get('cuentaBancariaPesos')?.invalid && form.get('cuentaBancariaPesos')?.touched}">
          <label for="cuentaBancariaPesos">Cuenta bancaria Pesos <span class="required">*</span></label>
          <select id="cuentaBancariaPesos" formControlName="cuentaBancariaPesos">
            <option *ngFor="let cuenta of cuentasColombianas" [value]="cuenta.id">{{ cuenta.nombreBanco }} - {{ cuenta.nombreCuenta }}</option>
          </select>
        </div>

        <div class="form-group" [ngClass]="{'has-error': form.get('descripcionId')?.invalid && form.get('descripcionId')?.touched}">
          <label for="descripcionId">Descripción <span class="required">*</span></label>
          <select id="descripcionId" formControlName="descripcionId">
            <option *ngFor="let descripcion of descripciones" [value]="descripcion.id">{{ descripcion.texto }}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('tasaCompra')?.invalid && form.get('tasaCompra')?.touched}">
          <label for="tasaCompra">Tasa <span class="required">*</span></label>
          <input id="tasaCompra" type="number" step="0.01" formControlName="tasaCompra">
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.get('montoBs')?.invalid && form.get('montoBs')?.touched}">
          <label for="montoBs">Monto en Bolívares <span class="required">*</span></label>
          <input id="montoBs" type="number" formControlName="montoBs">
        </div>
      </div>
      <div class="button-group">
        <button type="button" class="btn-cancelar" (click)="onCancelar()">Cancelar</button>
        <button type="submit" class="btn-confirmar">Confirmar</button>
      </div>
    </form>
  </div>
</div>
