<div class="boton-cuentas-bancarias">
  <div class="container">
    <div>
      <div class="right-align espac-h2">
        <label class="admin">ADMINISTRA</label>
      </div>
      <div></div>
      <div class="right-align">
        <h2 class="desc">Lista de Proveedores</h2>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div class="agregar-proveedor">
  <button mat-flat-button class="btn-agregar" (click)="openNuevoProveedorDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="table-container centered-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Abono Column -->
    <ng-container matColumnDef="abono">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Abono </th>
      <td mat-cell *matCellDef="let element"> {{element.abono}} </td>
    </ng-container>

    <!-- Deuda Column -->
    <ng-container matColumnDef="deuda">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Deuda </th>
      <td mat-cell *matCellDef="let element"> {{element.deuda}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
