<div class="boton-cuentas-bancarias">
  <div class="container">
    <div>
      <div class="right-align espac-h2">
        <label class="admin">ADMINISTRADOR</label>
      </div>
      <div></div>
      <div class="right-align">
        <h2 class="desc">Lista de Proveedores</h2>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div class="agregar-proveedor">
  <button mat-flat-button class="btn-agregar" (click)="openNuevoProveedorDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Vista de escritorio: Tabla -->
<div class="table-container centered-table" *ngIf="!isMobile">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Abono Column -->
    <ng-container matColumnDef="abono">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Abono </th>
      <td mat-cell *matCellDef="let element"> {{element.abono}} </td>
    </ng-container>

    <!-- Deuda Column -->
    <ng-container matColumnDef="deuda">
      <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Deuda </th>
      <td mat-cell *matCellDef="let element"> {{element.deuda}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Vista móvil: Cards -->
<div class="card-container" *ngIf="isMobile">
  <mat-card *ngFor="let element of dataSource" class="example-card">
    <mat-card-content>
      <div class="card-grid">
        <div class="grid-item">
          <p><strong>Nombre:</strong> {{element.nombre}}</p>
          <p><strong>Abono:</strong> {{element.abono}}</p>
          <p><strong>Deuda:</strong> {{element.deuda}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
