body {
  font-size: 16px; /* Ajuste general de tamaño de fuente */
}

.boton-cuentas-bancarias .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center; /* Centra verticalmente los elementos */
}

.button-align {
  justify-self: start;
}

.right-align {
  justify-self: end;
}

.left-align {
  justify-self: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.admin {
  font-size: 1.2rem;
  color: #666;
  font-weight: bold;
}

h2.desc {
  font-size: 2rem;
  color: #4a90e2;
  margin: 0;
  font-weight: bold;
}

.btn1 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.espac-h2 {
  margin-top: 1rem;
}

.btn-desc {
  background-color: #1B1A26 !important;
  color: white !important;
  margin-bottom: 1rem;
  border: 1px solid #000000;
}

.agregar-proveedor {
  display: flex;
  justify-content: flex-end; /* Mueve el botón al extremo derecho */
  padding: 10px; /* Espacio alrededor del contenedor */
  padding-right: 3rem;
}

  .btn-agregar {
    background-color: #4a90e2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
  }

  .btn-agregar mat-icon {
    font-size: 1.7rem; /* Ajusta el tamaño del ícono */
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin-right: -0.3rem;
  }

/* Tabla estilos */
.table-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 20px;
}

.centered-table {
  width: 100%;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
}

.custom-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.custom-table th, .custom-table td {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
}

.custom-table th {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .boton-cuentas-bancarias .container {
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center; /* Centra los elementos horizontalmente */
  }

  .button-align, .right-align, .left-align {
    justify-self: center; /* Centra los elementos dentro de sus celdas */
  }

  .btn1, .btn2 {
    width: 100%;
    max-width: 200px;
    text-align: center;
  }

  .agregar-proveedor {
    justify-content: center; /* Centra el botón en dispositivos móviles */
    padding-right: 0; /* Reset padding */
  }

  .table-container {
    padding: 0.5rem;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
  }

  .custom-table {
    width: 100%;
    display: block; /* Asegura que la tabla sea desplazable */
    overflow-x: auto;
    white-space: nowrap; /* Evita el ajuste automático de líneas */
  }

  .custom-table th, .custom-table td {
    display: table-cell;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  .custom-table th {
    background-color: #4a90e2;
    color: white;
  }

  .custom-table td {
    padding-left: 8px;
  }
}
