.agregar-proveedor {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 3rem;
}

.btn-agregar {
  background-color: #4a90e2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-agregar mat-icon {
  font-size: 1.7rem;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin-right: 0.2rem;
}

.btn2 {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.example-card {
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.example-card:hover {
  transform: scale(1.05);
}

.card-grid {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

.settings-icon {
  vertical-align: middle;
}

.banco-venezuela {
  background-color: #FD1A1A;
  color: white;
}

.bbva,
.banesco {
  background-color: #298AEB;
  color: white;
}

.banco-mercantil {
  background-color: #419CF8;
  color: white;
}

.default {
  background-color: white;
  color: black;
}

mat-card-content {
  padding: 10px;
  border-radius: 0.5rem;
}

mat-divider {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}

mat-card {
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .card-container {
    padding: 5px;
  }

  .example-card {
    width: 100%;
  }

  .grid-item-1-2,
  .grid-item-2-2,
  .grid-item-4-2 {
    display: block;
  }
}
