
.agregar-proveedor {
  display: flex;
  justify-content: flex-end; /* Mueve el botón al extremo derecho */
  padding: 10px; /* Espacio alrededor del contenedor */
  padding-right: 3rem;
}

.btn-agregar {
  background-color: #4a90e2;
  color: white;
}

.btn2 {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo card */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adaptar columnas automáticamente */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar las tarjetas en el contenedor */
  padding: 10px; /* Añadido padding para mayor espacio alrededor */
}

.example-card {
  margin-bottom: 10px; /* Ajusta este valor según tus necesidades */
  transition: transform 0.3s ease; /* Añade una transición para la transformación */
}

.example-card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.grid-item {
  padding: 5px; /* Reducido el padding dentro de las grid-items */
}

.grid-item-1-1, .grid-item-1-2, .grid-item-2-1, .grid-item-2-2, .grid-item-3-1, .grid-item-4-1, .grid-item-4-2 {
  margin: 0;
}

.grid-item-1-1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-item-1-2 {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.grid-item-2-1 {
  grid-column: 1;
  grid-row: 2;
  font-size: 1.5rem; /* Ajustado el tamaño de la fuente */
  font-weight: bold;
}

.grid-item-2-2 {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

.grid-item-3-1 {
  grid-column: 1;
  grid-row: 3;
  font-size: 1.7rem; /* Ajustado el tamaño de la fuente */
}

.grid-item-4-1 {
  grid-column: 1;
  grid-row: 4;
}

.grid-item-4-2 {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
}

.settings-icon {
  vertical-align: middle;
}

.banco-venezuela {
  background-color: #FD1A1A;
  color: white;
}

.bbva {
  background-color: #298AEB;
  color: white;
}

.banesco {
  background-color: #298AEB;
  color: white;
}

.banco-mercantil {
  background-color: #419CF8;
  color: white;
}

.default {
  background-color: white;
  color: black;
}

mat-card-content {
  padding: 10px; /* Ajustado el padding dentro del contenido del card */
  border-radius: 0.5rem;
}

mat-divider {
  background-color: rgba(255, 255, 255, 0.2); /* Color del divider ajustado para mejor visibilidad */
  margin: 10px 0; /* Ajustado el margen de los dividers */
}

mat-card {
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    padding: 5px;
  }

  .card-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    text-align: center;
  }

  .example-card {
    width: 100%; /* Asegura que las tarjetas ocupen todo el ancho en pantallas pequeñas */
  }

  .grid-item-1-2, .grid-item-2-2, .grid-item-4-2 {
    justify-self: center; /* Centra los elementos en pantallas pequeñas */
  }

  /* Ocultar ciertos elementos en pantallas pequeñas */
  .grid-item-1-2, .grid-item-2-2, .grid-item-4-2 {
    display: none;
  }
}
