<div class="agregar-proveedor">
  <button mat-flat-button class="btn2 btn-agregar" (click)="openCrearCuentaBancaria()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="card-container" fxLayout="row" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center start">
  <mat-card *ngFor="let cuenta of cuentasBancarias" [ngClass]="getCardClass(cuenta.nombreBanco!)" class="example-card" appearance="outlined" fxFlex="1 1 calc(33% - 20px)" fxFlex.lt-md="calc(50% - 20px)" fxFlex.lt-sm="calc(100% - 20px)">
    <mat-card-content>
      <div class="card-grid" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
          <p fxFlex>{{ cuenta.nombreCuenta }}</p>
          <p fxFlex fxHide fxShow.gt-sm>Cupos CV: {{ cuenta.limiteCB }}</p>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
          <p fxFlex>Saldo Actual</p>
          <p fxFlex fxHide fxShow.gt-sm>Capacidad Cuenta: {{ cuenta.limiteMonto }}</p>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
          <p fxFlex>$ {{ cuenta.monto | number:'1.2-2' }}</p>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
          <p fxFlex>{{ cuenta.nombreBanco }}</p>
          <mat-icon fxFlex fxLayoutAlign="end" (click)="openActualizarModal(cuenta)">settings</mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
