.table-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.mat-form-field {
  width: 300px;
}

.table-container {
  padding: 20px;
}

/* Estilos para los íconos de acciones */
.icon-green {
  color: #4CAF50; /* Verde */
}

.icon-red {
  color: #f44336; /* Rojo */
}
