/* Botón "Regresar" */
.back-button {
    background: linear-gradient(135deg, #5E94FF, #4A7CCC);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    margin-top: 3rem;
  }
  
  .back-button mat-icon {
    margin-right: 8px;
    font-size: 1.2rem;
  }
  
  .back-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 16px rgba(94, 148, 255, 0.4);
  }
  
  